@import "tailwindcss";

:root {
  --navy: #0b132b;
  --black: #121212;
  --teal: #00f0ff;
  --purple: #9d4edd;
  --white: #ffffff;
  --silver: #8d99ae;
  --border: #1e2a3a;
}

body {
  background-color: #121212;
  color: #ffffff;
}
